<div class="container">
	<div class="td-center">
		<div class="td-content">
			<div>
				<div class="row">
					<div class="col-xs-12 col-md-12 ">
						<span class="td-mid td-text1">Book an Appointment</span>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-md-12 ">
						<span class="td-mid td-text2">Our Investing Topics</span>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-md-12 td-mt20">
						<span class="td-mid td-text3">Pick a topic, then we'll find a time and place</span>
					</div>
				</div>
				<div td-same-height class="row">
					<div class="col-xs-12 col-md-6 td-color-green" ng-repeat="item in options track by item.text" ng-if="toMiddle">
						<div class="td-mid td-text4"><span>{{item.text}}</span></div>
					</div>
					<div class="col-xs-12 col-md-6 td-color-green" ng-repeat="item in options track by item.text" ng-if="toLeft" style="margin-right: 30px;">
						<div class="td-mid td-text4"><span>{{item.text}}</span></div>
					</div>
					<div class="col-xs-12 col-md-offset-3 col-md-6 td-color-green" ng-repeat="item in options track by item.text" ng-if="toOne">
						<div class="td-mid td-text4"><span>{{item.text}}</span></div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-md-12 td-color-green td-mt20">
					<span class="td-mid td-text5"><i class="fa fa-angle-left"></i>&nbsp;Return to previous screen</span>
				</div>
			</div>
		</div>
	</div>
</div>